
<div ng-show="status.error">
	<div ng-show="status.error.auth">
		Vous n'êtes pas autorisé à effectuer cette action
	</div>
</div>

<div>
	<h3>{{thread.get('title')}}</h3>

	<button ng-click="postMessage()">R&eacute;pondre</button>
	
	<form ng-show="thread.get('status')=='postMessage'">
		<fields form="message"></fields>
	</form>

	<div class="messages">
		<div class="message" ng-repeat="message in thread.get('messages').models">
			<h4>
				<a href="#/users/{{message.get('author').get('id')}}">{{message.get('author').get('login')}}</a>
				<button ng-click="updateMessage(message.get('id'))">Update</button>
				<button ng-click="deleteMessage(message.get('id'))" ng-show="$index>0">Delete</button>
			</h4>

			<div class="content">
				{{message.get('content')}}
			</div>
			
			<form ng-show="message.get('status')=='update'">
				<fields form="message"></fields>
			</form>
		</div>
	</div>
</div>